[user]
	name = Rafael Ferraz
	email = rafavferraz@gmail.com
[init]
	defaultBranch = main
[core]
	editor = vim
[alias]
	st = status
	co = checkout
	br = branch
	lg = log --oneline --graph --decorate
[pull]
	rebase = false
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
